@import "tailwindcss";

body {
  background-color: #070f2b;
}

@theme {
  --color-mainBackground: #070f2b;
  --color-secondaryBackground: #535c91;
  --color-textColor: #fff;
  --color-selected: #0ef;
}

@layer components {
  .textAnimation {
    @apply absolute bottom-0 left-0 w-0 h-1 bg-selected transition-all duration-400 ease-in-out group-hover:w-full;
  }
  .navLinks {
    @apply text-selected underline;
  }
  .text-Shadow-Glow {
    text-shadow: 0 0 8px #0ef;
  }
}
