@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #070f2b;
  font-family: "Roboto", sans-serif;
}

@theme {
  --color-mainBackground: #070f2b;
  --color-secondaryBackground: #535c91;
  --color-cardBackground: #1b1a55;
  --color-textColor: #fff;
  --color-selected: #0ef;
}

@layer components {
  .textAnimation {
    @apply absolute bottom-0 left-0 w-0 h-1 bg-selected transition-all duration-400 ease-in-out group-hover:w-full;
  }
  .navLinks {
    @apply text-selected underline;
  }
  .text-Shadow-Glow {
    text-shadow: 0 0 15px #0ef;
  }
  .boxShadow {
    box-shadow: 0 0 40px #0ef;
  }
  .lightShadow {
    box-shadow: 0 0 5px #0ef;
  }
}

@layer utilities {
  .animate-upDown {
    animation: upDown 2.5s ease-in-out infinite;
  }

  @keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
